# Secrets
*secret.yaml

# Python
__pycache__/
*.py[cod]
.venv/
.python-version
*.egg-info/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage

# Local dev
.kind-kubeconfig
.env

# IDEs
.idea/
.vscode/
*.swp

# macOS
.DS_Store
