#
# This source file is part of the Stanford Spezi open source project
#
# SPDX-FileCopyrightText: 2026 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#


# App
APP_ENVIRONMENT=development

# Server Database
DATABASE_NAME=spezistudyplatform
DATABASE_USERNAME=spezistudyplatform
DATABASE_PASSWORD=spezistudyplatform

# Keycloak
KEYCLOAK_REALM=spezistudyplatform
KEYCLOAK_CLIENT_ID=spezistudyplatform-server
KEYCLOAK_CLIENT_SECRET=dev-server-secret
KEYCLOAK_RESEARCHER_ROLE=spezistudyplatform-researcher
KEYCLOAK_PARTICIPANT_ROLE=spezistudyplatform-participant
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_DB_USERNAME=keycloak
KEYCLOAK_DB_PASSWORD=keycloak
KEYCLOAK_DB_NAME=keycloak

# Web
VITE_API_BASE_PATH=http://localhost:8080
VITE_KEYCLOAK_URL=http://localhost:8180
VITE_KEYCLOAK_REALM=spezistudyplatform
VITE_KEYCLOAK_CLIENT_ID=spezistudyplatform-web
